<script type='text/javascript'></script>

<html>
	<head>
		<title>Talemtum</title>
	</head>
	<body>
		<h1>Share your skills motherfucker</h1>
		<table>
		<% @projects.each do |project| %>
			<tr>
      	<td><%=project.name %></td>
      	<!-- <td><%=project.description %></td> -->
      </tr>
		<% end %>
		</table>
		<button id="new-project">
			<%= link_to "Create a new project", new_project_path, method: 'get' %>
		</button>
	</body>
</html>